.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    background-image: url("background_image.jpg");
  }
  
  .service-item {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    width: calc(33.33% - 2em);
  }
  
  .service-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 0.5em 0.5em 0 0;
  }
  
  .service-item h2 {
    font-size: 18px;
    margin-top: 1em;
  }
  a{
    text-decoration: none;
    color: black;
  }