@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #07080b;
  }
nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }

  body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
   
  }
  
  
  
.logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color:white;
  }
  input::placeholder {
    color: #f3f4f6;
  }
  .links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .links .link {
    font-size: 1.2rem;
    font-weight: 500;
    color: #07080b;
    cursor: pointer;
    transition: 0.3s;
  }
  
 a:hover {
    color:#87cddd;
  }
  
  .search__button {
    padding: 0.5rem 0;
    border-bottom: 2px solid #eff0f0;
    
  }
  
  .search__button input {
    color: #dcdce5;
    background-color:transparent;
    outline: none;
    border: none;
  }
  
  .search__button i {
    color: #e2e9e9;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .content {
    display: flex;
    min-height: 100vh;
    max-width: 1300px;
    margin: auto;
    padding: 2rem;
    padding-top: 100px;
    position: relative;
  }
  
  .left,.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .left .cont {
    max-width: 700px;
    display: grid;
    gap: 1rem;
  }
  
  .cont h1 {
    font-size: 4rem;
    line-height: 4rem;
    color:  #f3f4f6;
    font-weight: 700;
    animation-duration: 1s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 20%;
    }
    to{
      margin-left: 0%;
    }    
  }

  .btns {
    display: flex;
    gap: 1rem;
  }
  
  .btns button {
    padding: 0.5rem 2rem;
    color: #f3f4f6;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border: 2px solid #f3f4f6;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button.read__more {
    background-color: #f3f4f6;
    color: #333333;
  }
  
  button.our__blogs:hover {
    background-color:#ffffff33;
  }
  .right {
    justify-content: flex-end;
  }
  
  form {
    width: 350px;
    display: grid;
    border-radius: 5px;
    background-color:#387e8e33;
    color: #161617;
  }
  
  form h4 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem;
  }
  
  .right .dest {
    display: grid;
    padding: 0 2rem;
    margin-bottom: 1rem;
  }
  
  .package input {
    padding: 0.5rem;
    font-size: 1rem;
    color: #232323;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #f3f4f6;
  }
  
  form button {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: #e5eef0;
    color: #0e0e0f;
    cursor: pointer;
  }
  
  .tracker {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
  }
  
  .tracker span {
    display: inline-block;
    height: 4px;
    width: 100px;
    background-color: #ffffff33;
  }
  
  .tracker span:nth-child(2) {
    background-color:#fead53;
  }